h5{
    color: brown;
    text-align: center;

}
h1{
    text-align: center;
    color:rgb(160, 13, 13);
}
img{
    width: 700px;
     height: 500px;
}
body{
    background-color: gray;
     width: 80%;
      margin: auto;
}

